{% extends "layout.html" %}

{% block content %}
<div class="mt-4 ml-5 mr-5 mb-4">
  <div class="text-center justify-content-sm-center pb-2 pt-2 row">
    <div class="error-template">
      <h1>Oops!</h1>
      <h2>404 Not Found</h2>
      <div class="error-details">
        Sorry, Requested page not found!
      </div>
    </div>
  </div>
</div>
{% endblock %}
