{% extends "layout.html" %}

{% block title %} About {% endblock %}

{% block content %}

<div class="mt-4 ml-5 mr-5 mb-4">
    <div class="justify-content-sm-center row">
        <h4>About</h4>
    </div>
    <p>
        A simple app to demonstrate chalice-http-toolkit.
    </p>
</div>
{% endblock %}