{% extends "layout.html" %}

{% block title %} Hello {% endblock %}

{% block content %}
<div class="mt-4 ml-5 mr-5 mb-4">
  <form id="uploadedImage" action="/addimage" method="POST" enctype="multipart/form-data">
    <div class="justify-content-sm-center pb-2 pt-2 row">
      <label class="btn btn-primary" for="file-selector">
        <input id="file-selector" type="file" name="file" style="display: none" accept="image/*">
        Upload an image
      </label>
    </div>
    <div class="justify-content-sm-center pb-2 pt-2 row imgbox">
      <img id="preview" class="img-result">
    </div>
    <div class="justify-content-sm-center pb-2 pt-2 row">
      <button id="submit" class="btn btn-success" type="submit">
        Submit
      </button>
    </div>
  </form>
</div>
{% endblock %}