{% extends "layout.html" %}

{% block title %} Success {% endblock %}

{% block content %}

<div class="mt-4 ml-5 mr-5 mb-4">
    <div class="justify-content-sm-center row">
        <h4>Success</h4>
    </div>
    <p>
        Success - image uploaded!
    </p>
    <div class="justify-content-sm-center pb-2 pt-2 row imgbox">
      <img id="preview" class="img-result" src='image/{{ name }}'>
    </div>
</div>
{% endblock %}